{{!-- footer --}}
<footer class="home-footer">
<a href="#" class="icon"><i class="fab fa-facebook fa-3x"></i></a>
<a href="#" class="icon"><i class="fab fa-instagram-square fa-3x"></i></a>
<a href="#" class="icon"><i class="fab fa-twitter-square fa-3x"></i></a>
</footer>