<div>
    {{>header}}
</div>

<div>
    <div class="container">
      <div class="jumbotron creators">
        <h1><strong>Content Creators</strong></h1>
        <div class="row mt-5">
            <div class="col">
                <h4>Front End Developers</h4>
                <img class="pfp" src="https://picsum.photos/id/123/100">
                <span>Kang</span><br>
                <img class="mt-5 pfp" src="https://picsum.photos/id/432/100">
                <span>Michael</span>
            </div>
            <div class="col">
                <h4>Back End Developers</h4>
                <img class="pfp" src="https://picsum.photos/id/321/100">
                <span>Sanjay</span><br>
                <img class="mt-5 pfp" src="https://picsum.photos/id/111/100">
                <span>Tyler</span>
            </div>
        </div>
      </div>
    </div>
</div>

{{!-- footer --}}
{{>footer}}