{{!-- header --}}
<div>
  {{>header}}
</div>

{{!-- body --}}
<div class="body-content">
  <div>
    <div class="container">
      <div class="jumbotron">
        <h1><strong>WARNING BUY ALL THE TP</strong></h1>
        <a href="news">
          <h4 class="d-inline motto">Get woke. Stay Woke.</h4>
          <img src="https://cdn2.iconfinder.com/data/icons/medical-services-set-3-1/64/x-11-512.png" class="arrow">
        </a>
        <h4>Learn about disaster preparedness and get fun facts</h4>
      </div>
    </div>
  </div>

  {{!-- footer --}}
  <div>
    {{>footer}}
  </div>
</div>