{{!-- header --}}
<div>
  {{>header}}
</div>

{{!-- body --}}
<div>
  <div class="container">
    <div class="jumbotron">
      <h1>WARNING BUY ALL THE TP</h1>
      <h4 class="d-inline">Get woke. Stay Woke.</h4><a href="#"><span class="fa fa-chevron-right"></span></a>
      <h4>Learn about disaster preparedness and get fun facts</h4>
    </div>
  </div>
</div>

{{!-- footer --}}
<footer class="home-footer">
  <a href="#" class="icon"><i class="fab fa-facebook fa-3x"></i></a>
  <a href="#" class="icon"><i class="fab fa-instagram-square fa-3x"></i></a>
  <a href="#" class="icon"><i class="fab fa-twitter-square fa-3x"></i></a>
</footer>