{{!-- header --}}
<div>
    {{>header}}
</div>

{{!-- side bar --}}
<div class="side-nav">
    <div>
        <input placeholder="Enter City">
        <button class="btn-sm btn-warning">Search</button>
    </div>

    {{!-- filter area --}}
    <div>
        <p>Filters</p>
        <ul>
            <li>death</li>
            <li>infected</li>
            <li>age</li>
            <li>recovered</li>
        </ul>
    </div>
    {{!-- us census --}}
    <div>
        <p>US Census Data</p>
        <ul>
            <li>county</li>
            <li>sex</li>
            <li>household income</li>
            <li>school district</li>
        </ul>
    </div>
</div>