{{!-- header --}}
<div>
    {{>header}}
</div>

{{!-- side bar --}}
<div class="side-nav">
    <div>
        <input class="ml-2 mt-4" placeholder="Enter City">
        <button class="btn-sm btn-warning ml-2 mt-2 submit">Search</button>
    </div>
    {{!-- filter area --}}
    <div class="filters">
        <p class="ml-2">Filters</p>
        <ul>
            <li id="death">death</li>
            <li id="infected">infected</li>
            <li class="disabled" id="age">age</li>
            <li class="disabled" id="recovered">recovered</li>
        </ul>
    </div>
    {{!-- us census --}}
    <div class="census">
        <p class="ml-2">US Census Data</p>
        <ul>
            <li class="disabled" id="country">county</li>
            <li class="disabled" id="sex">sex</li>
            <li class="disabled" id="income">household income</li>
            <li class="disabled" id="school">school district</li>
        </ul>
    </div>
</div>

{{!-- map d3 goes here --}}
<div class="map-container">
    <div class="display-map">
        <p>something</p>
    </div>
</div>

{{!-- footer --}}
<footer class="small-footer"></footer>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/map.js"></script>