/* styling for map page */
.side-nav {
  width: 20%;
  height: 100vh;
  background-color: #700;
  color: #ffffff;
  z-index: 1;
  position: fixed;
}
.map-container {
  margin: 30px 30px 30px calc(20% + 30px);
  height: calc(100vh - 146px);
}
.small-footer {
  width: 80%;
  height: 30px;
  background-color: #343a40;
  position: fixed;
  bottom: 0;
  right: 0;
}
ul {
  list-style-type: none;
}
li {
  cursor: pointer;
}
.disabled {
  cursor: no-drop;
  opacity: 0.6;
}
.census {
  margin-top: 200px;
}
.filters {
  margin-top: 50px;
}
.display-map {
  border: #700 5px solid;
  height: 100%;
}

/* styling for index/home page */
.home-footer {
  width: 100%;
  height: 80px;
  background-color: #343a40;
  position: fixed;
  bottom: 0;
  padding: 15px;
}
.home-footer i {  color: #fff;}
.arrow {
  margin-bottom: 5px;
  width: 30px;
}
.icon {
  margin: 3px
}
.container {
  padding-top: 20px;
}
.jumbotron {
  background-color: #343a40;
  height: 520px;
  color: #fff;
  background-image: url("https://cdn3.iconfinder.com/data/icons/healthcare-and-medicine-8/64/healthcare_medicine_DNA-512.png");
  background-repeat: no-repeat;
  background-position-x: 550px;
  padding: 100px;
  line-height: 100px;
}
.motto {
  color: #fff;
  background-color: #ed8e00;
  padding: 5px;
}
/* contact page */
.creators {
  padding: 30px;
}
.pfp {
  border-radius: 50%;
}