/* styling for map page */
.side-nav {
  /* width: 20%;*/
  height: 100vh;
  background-color: #700;
  color: #ffffff;
  z-index: 1;
  position: fixed;
}

#news-display {
  margin-left: 260px;
  margin-top: 40px;
  width:50%;
}


@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}


/* .main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
} */

.main-menu {
background:#212121;
border-right:1px solid #e5e5e5;
margin-top: 50px;
position:absolute;
top:0;
bottom:0;
height:100%;
left:0;
width:250px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#5fa2db;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}


/* accordion menu */
.Accordion {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.Accordion + .Accordion {
  margin-top: 1em;
}

.Accordion input[type="radio"],
.Accordion input[type="checkbox"] {
  display: none;
}

.Accordion input:checked + .Accordion-subElements > .Accordion-subElement {
  height: 2em;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.Accordion-item label {
  display: block;
  padding: 1em;
  background-color: red;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.Accordion-item label:hover {
  background-color: #16a085;
}

.Accordion-subElements {
  padding-left: 0;
  background-color: #ecf0f1;
}

.Accordion-subElement {
  height: 0;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  font-size: 0.9em;
  line-height: 2;
  color: #555;
  transition-property: height, -webkit-transform;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
  transition-duration: 0.3s;
  overflow: hidden;
}

.Accordion-subElement:hover {
  background-color: #bdc3c7;
  color: #111;
}

.Accordion-subElement a {
  display: block;
  padding-left: 2em;
  color: inherit;
  text-decoration: none;
}

/*  */
.map-container {
  margin: 30px 30px 30px calc(20% + 30px);
  height: calc(100vh - 146px);
} 
ul {
  list-style-type: none;
}
li {
  cursor: pointer;
}
.disabled {
  cursor: no-drop;
  opacity: 0.6;
}
.census {
  margin-top: 200px;
}
.filters {
  margin-top: 50px;
}
.display-map {
  border: #700 5px solid;
  height: 100%;
}

#mapid { height: 600px;  
  width:1000px;   
    
}

.d3-tip {
  line-height: 1;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips specifically */
.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}
/* styling for index/home page */
.home-footer {
  width: 100%;
  height: 80px;
  background-color: #343a40;
  position: absolute;
  bottom: 0;
  padding: 15px;
}
.home-footer i {  color: #fff;}
.arrow {
  margin-bottom: 5px;
  width: 30px;
}
.icon {
  margin: 3px
}
.container {
  padding-top: 20px;
}
.jumbotron {
  background-color: #343a40;
  height: 520px;
  color: #fff;
  background-image: url("https://cdn3.iconfinder.com/data/icons/healthcare-and-medicine-8/64/healthcare_medicine_DNA-512.png");
  background-repeat: no-repeat;
  background-position-x: 550px;
  padding: 100px;
  line-height: 100px;
}
.motto {
  color: #fff;
  background-color: #ed8e00;
  padding: 5px;
}
/* contact page */
.creators {
  padding: 30px;
}
.pfp {
  border-radius: 50%;
}
